@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

button {
  font-family: 'Roboto';
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding-bottom: 15px;
}

a {
  text-decoration: none;
  color: black;
}

img {
  display: block;
}

p,
h1,
h2,
h3,
h4,
span {
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  cursor: default;
}

ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.spinner {
  animation: spin 1s linear infinite;
}

.custom-select__control {
  padding: 2px 8px;
  cursor: pointer;
}

.custom-select__option,
.custom-select__control {
  transition: 250ms linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
